<ion-view class="bg-gradient-content1">
  <ion-content>
    <h1 class="title" ng-bind="mainTitle"></h1>
    <div class="invitation-content">
      {{phrase1}}
      <h3>
        <br>
        <div class="naming">
          {{groomName}}
          <br>
          {{nameConjunction}}
          <br>
          {{brideName}}
        </div>
        <br>
        {{dateTimePhrase}}
        <br>
        {{marriageDisplayDate}}
        <br>
        Muhurtham
        <br>
        {{marriageDisplayTime}}
      </h3>
    </div>

    <div class="venue">
        <label class="title">
          Engagement
        </label>
         <br />
         {{engagementDisplayDate}} <br />
         {{engagementDisplayTime}} <br />
      </div>
      <br />
    </div>

    <div class="venue">
      <div class="left">
        <label class="title">
          Groom Venue
        </label>
         <br />
        J.M. Mahal, <br />
        Madurai - Rameshwaram Road, <br />
        Paramakudi <br />
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-9487887229">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('groom')">Show Route</span>
        </div>

      </div>
      <br /><br />
      <div class="right">
        <label class="title">
          Bride Venue
        </label>
          <br />
        Gowri Bhavanam <br />
        S.S Kovil Street, <br />
        Paramakudi <br>
        <div class="contact">
          <i class="icon ion-android-call"></i>
          <a href="tel:+91-7299447518">Contact</a>

          <i class="route icon ion-location"></i>
          <span ng-click="navigateToMap('bride')">Show Route</span>
        </div>
      </div>
    </div>
    <br />
    <br />
    <br />
    <br />

    <div class="extra-info">
      <div class="list">
        <a class="item item-icon-right" href="#/invitation-classic/tamil">
          <i class="icon ion-chevron-right"></i>
          Invitation (Tamil)
        </a>
        <a class="item item-icon-right" href="#/invitation-classic/english">
          <i class="icon ion-chevron-right"></i>
          Invitation (English)
        </a>
        <a class="item item-icon-right" href="#/wishes">
          <i class="icon ion-chevron-right"></i>
          Send Wishes
        </a>
        <!-- <a class="item item-icon-right" href="#/invitation-classic">
          Invitation (Classic)
          <i class="icon ion-android-arrow-dropright"></i>
        </a> -->
      </div>
    </div>

    <br />
  </ion-content>
  <!-- <span class="back-button" ng-click="goBack()">
    <i class="ion-android-arrow-back"></i>
  </span> -->
</ion-view>
