<ion-view class="bg-gradient-content1">
  <ion-content>
    <h1 class="title">J weds B</h1>
    <div class="invitation-content">
      I have never seen her till then.
      <br>
      Never knew she was right there in my neighborhood.
      <br>
      But when I met her, I knew this is for life.
      <br>
      <br>

      Request the pleasure of your company at the celebration of our wedding

      <h3>
        <br>
        <div class="naming">
          T M Jeyabalaji
          <br>
          with
          <br>
          M L Bavani
        </div>
        <br>
        With our parents' blessings we are stepping into our new life, together, on
        <br>
        Sunday, 4th June 2017
        <br>
        Muhurtham
        <br>
        9.30 AM to 10.30 AM
      </h3>
    </div>
    <div class="venue">
      <div class="left">
        <label class="title">
          Groom Venue
        </label>
         <br />
        J.M. Mahal, <br />
        Madurai - Rameshwaram Road, <br />
        Paramakudi
      </div>
      <br /><br />
      <div class="right">
        <label class="title">
          Bride Venue
        </label>
          <br />
        Gowri Bhavanam <br />
        S.S Kovil Street, <br />
        Paramakudi
      </div>
    </div>
    <br />
    <br />
    <div class="contact">
      <!-- <div class="icon ion-android-call"></div> -->
      <a href="tel:+91-9486694501"> Call Us</a>
    </div>
    <br />
    <br />

    <!-- <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Bride Venue</h2>
        <p>Some text here</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <h2>Groom Venue</h2>
        <p>Some text here</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list> -->
  </ion-content>
</ion-view>
