<ion-view>
  <ion-content>
    <h1 class="title">Title will be here</h1>
    <div class="invitation-content">
      I have never seen her till then. Never knew she was right there in my neighborhood. But when I met her, I knew this is for life.

      Request the pleasure of your company at the celebration of our wedding.
    </div>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
